<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>


<style>
h1 {
    text-align: center;
}

</style>
<h1>Listing mechanics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Qualifications</th>
      <th>Password </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mechanics.each do |mechanic| %>
      <tr>
        <td><%= mechanic.name %></td>
        <td><%= mechanic.qualifications %></td>
        <td><%= mechanic.password_digest %></td>
        <td><%= link_to 'Show', mechanic %></td>
        <td><%= link_to 'Edit', edit_mechanic_path(mechanic) %></td>
        <td><%= link_to 'Destroy', mechanic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mechanic', new_mechanic_path %>
