<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @customer.dob %>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>


<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@customer.longitude}e}%2C#{@customer.latitude}" %>
</p>

<p>
	<%@customer.bikes.each do |bike| %>
		<br>
	
		<%= bike.name %>
		<%= bike.size %>
		<%= bike.price %>
		<%= bike.maker %>
		
	<% end %>
	


</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
